.ratings-list {
  .rating-label {
    font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.2px;
		color: var(--ion-color-medium);
  }

  app-rating-input {
    --rating-color: var(--ion-color-warning);
  }

  app-rating-input.custom-icon-example {
    --rating-color: var(--ion-color-danger);
  }
}

.counter-list {
  .counter-item {
    .counter-label {
      font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.2px;
			color: var(--ion-color-medium);
    }

    .counter-value {
      text-align: right;
      margin-inline-end: 20px;
      color: var(--ion-color-primary);
    }

    app-counter-input {
      --counter-background: transparent;
      --counter-color: var(--ion-color-primary);
      --counter-border-color: var(--ion-color-primary);
    }
  }
}
